/* Banner */
.parallax {
  background-image: url("../images/banners/banner_principal.webp");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.parallax h1 {
  font-size: 3rem;
}

.btn {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #1e90ff;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.btn:hover {
  background-color: #0056b3;
}
